table {
	border-collapse: collapse;
	width: 100%;
    border: 1px solid black;
}

thead{
	background-color: #333;
	color: #fff;
    border: 1px solid black;
    text-align: center;
}

caption{
	background-color: black;
	color: #fff;
    padding: 8px;
}
tbody tr:nth-child(even) {
	background-color: #bab7b7;
    border: 1px solid black;
}

tbody tr:hover {
	background-color: #ddd;
}

th, td {
	text-align: center;
	padding: 8px;
    border: 1px solid black;
}

th {
	background-color: #333;
	color: #fff;
}
